<amp-analytics config="https://www.googletagmanager.com/amp.json?id=GTM-P5QVP49&gtm.url=SOURCE_URL" data-credentials="include">

</amp-analytics>
<amp-analytics type="googleanalytics" id="amp-analytics">
    <script type="application/json">
        {
            "vars": {
                "account": "{{ site.analytics_id }}"
            },
            "triggers": {
                "trackPageview": {
                    "on": "visible",
                    "request": "pageview"
                }
            }
        }
    </script>
</amp-analytics>

<amp-user-notification
    id="notification-cookies" class="notification" layout="nodisplay">
    <div class="row">
        <p>
            Estamos utilizando cookies de terceros con fines estadísticos.
            No almacenamos ninguna información personal.
        </p>
        <a href="cookies.html">Más Información</a>
        <div class="right">
            <button  class="btn" on="tap:notification-cookies.dismiss">Aceptar</button>
        </div>
    </div>
</amp-user-notification>


<footer class="site-footer">
    <div class="inner inner--bottom-row ">
      <p>
        <strong>Pulseradeactividad.info</strong> no recopila ni almacena 
        ninguna información personal.
      </p>
      <p>
        <strong>Pulseradeactividad.info</strong> participa en el Programa de Afiliados de 
        Amazon EU, un programa de publicidad para afiliados diseñado para 
        ofrecer a sitios web un modo de obtener comisiones por publicidad, 
        publicitando e incluyendo enlaces a amazon.co.uk amazon.de
        de.buyvip.com amazon.fr amazon.it it.buyvip.com Amazon.es es.buyvip.com.
      </p>
    </div>
    <div class="inner text-center">
        <section class="copyright">
            All content copyright
            <a href="mailto:{{ site.email}}">{{ site.name }}</a> &copy;
            {{ site.time | date: '%Y' }} &bull; All rights reserved.
        </section>
    </div>
</footer>
