<header class="site-header">
    <div class="site-header__container">

        <a href="{{ site.baseurl }}/" class="site-header__logo">
            {% include icons/logo.svg %}
            <span class="site-header__title">
                <span class="site-header__title--l1">
                    PULSERA de
                </span>
                <span class="site-header__title--l2">
                    ACTIVIDAD
                </span>
            </span>
        </a>
        <nav class="site-header__nav">
            <a class="page-link" href="{{ site.baseurl }}/">Inicio</a>
            {% for my_page in site.pages %}
            {% if my_page.title %}
            • <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
            {% endfor %}
        </nav>
    </div>
</header>
