
$grey-color:    #828282;

$color-texto:       rgba(0, 0, 0, 0.8);
$color-gris-claro:  #f2f2f0;
$color-naranja:     #FF5C01;
$color-verde:       #7EBC01;


// Colores paleta inkscape...
$color-azul:        #2C59B3;
$color-azul-claro:  #689EEE;
$color-verde:       #81BD07;
$color-amarillo:    #DDF707;
$color-naranja:     #FF5F07;

$color-negro-pie:   #191919;



$rs: rem(16px);

$font-serif: $georgia; // Georgia,Cambria,"Times New Roman",Times,'Lora', serif;
$font-sans: $helvetica; // "Helvetica Neue", 'Open Sans', Arial, Helvetica, sans-serif;

$blog-width: rem(700px);

