
<div class="amz-row" markdown="0">
  <div></div>
  <div class="amz-row__img">
    <amp-img alt="Fitbit Inspire HR" data-amp-auto-lightbox-disable
             width="100" height="120" layout="responsive"
             src="/assets/amz/fitbit-inspire-hr-xs.webp">
      <amp-img fallback alt="Fitbit Inspire HR" data-amp-auto-lightbox-disable
               width="100" height="120" layout="responsive"
               src="/assets/amz/fitbit-inspire-hr-xs.jpg">
      </amp-img>
    </amp-img>
  </div>
  <div class="amz-row__btn ">
    <h4>Fitbit Inspire HR</h4>
    <a class="btn ga-amz-click-row" target="_blank"
       href="https://amzn.to/2tZd1CX">
      Ver mejor precio en Amazon
    </a>
  </div>
  <div></div>
</div>
