
<div class="amz-row" markdown="0">
  <div></div>
  <div class="amz-row__img">
    <amp-img alt="Fitbit Charge 3 (edición especial)" data-amp-auto-lightbox-disable
             width="100" height="120" layout="responsive"
             src="/assets/amz/fitbit-charge-3-ed-xs.webp">
      <amp-img fallback alt="Fitbit Charge 3 (edición especial)" data-amp-auto-lightbox-disable
               width="100" height="120" layout="responsive"
               src="/assets/amz/fitbit-charge-3-ed-xs.jpg">
      </amp-img>
    </amp-img>
  </div>
  <div class="amz-row__btn ">
    <h4>Fitbit Charge 3 (ed. especial)</h4>
    <a class="btn ga-amz-click-row" target="_blank"
       href="https://amzn.to/2wWhHe9">
      Ver mejor precio en Amazon
    </a>
  </div>
  <div></div>
</div>
