
<div class="amz-row" markdown="0">
  <div></div>
  <div class="amz-row__img">
    <amp-img alt="Xiaomi Mi Band 4" data-amp-auto-lightbox-disable
             width="100" height="120" layout="responsive"
             src="/assets/amz/mi-band-4-xs.webp">
      <amp-img fallback alt="Xiaomi Mi Band 4" data-amp-auto-lightbox-disable
               width="100" height="120" layout="responsive"
               src="/assets/amz/mi-band-4-xs.jpg">
      </amp-img>
    </amp-img>
  </div>
  <div class="amz-row__btn ">
    <h4>Xiaomi Mi Band 4</h4>
    <a class="btn ga-amz-click-row" target="_blank"
       href="https://www.amazon.es/gp/search/ref=as_li_qf_sp_sr_tl?ie=UTF8&tag=pulseradeac06-21&keywords=xiaomi mi band 4&index=aps&camp=3638&creative=24630&linkCode=ur2&linkId=1930581100cd76d1db8a34e2e92c1cc3">
      Ver mejor precio en Amazon
    </a>
  </div>
  <div></div>
</div>
