
<div class="amz_cuadro">
  <h4 class="amz_cuadro__title">Fitbit Inspire HR</h4>
  <amp-img alt="Fitbit Inspire HR"
           width="355" height="355" layout="responsive"
           src="/assets/amz/fitbit-inspire-hr.webp">
    <amp-img fallback alt="Fitbit Inspire HR"
             width="355" height="355" layout="responsive"
             src="/assets/amz/fitbit-inspire-hr.jpg">
    </amp-img>
  </amp-img>
  <a class="btn amz_cuadro__btn ga-amz-click-cuadro" href="https://amzn.to/2tZd1CX" target="_blank">
    Ver precio en Amazon
  </a>
</div>
