<div class="amz_cuadro">
  <h4 class="amz_cuadro__title">Huawei Band 4 Pro</h4>
  <amp-img alt="Huawei Band 4 Pro"
           width="355" height="355" layout="responsive"
           src="/assets/amz/huawei-band-4-pro-rojo.webp">
    <amp-img fallback alt="Huawei Band 4 Pro"
             width="355" height="355" layout="responsive"
             src="/assets/amz/huawei-band-4-pro-rojo.jpg">
    </amp-img>
  </amp-img>
  <a class="btn amz_cuadro__btn ga-amz-click-cuadro" href="https://amzn.to/2S2pA9q" target="_blank">
    Ver precio en Amazon
  </a>
</div>
