<div class="amz_cuadro">
  <h4 class="amz_cuadro__title">Polar A370</h4>
  <amp-img alt="Fitbit Charge 3"
           width="355" height="355" layout="responsive"
           src="/assets/amz/polar-a370.webp">
    <amp-img fallback alt="Polar A370"
             width="355" height="355" layout="responsive"
             src="/assets/amz/polar-a370.jpg">
    </amp-img>
  </amp-img>
  <a class="btn amz_cuadro__btn" href="https://amzn.to/38vmgK1" target="_blank">
    Ver precio en Amazon
  </a>
</div>
