
<div class="amz_cuadro">
  <h4 class="amz_cuadro__title">Xiaomi Mi Band 5</h4>
  <amp-img alt="Xiaomi Mi Band 4"
           width="355" height="355" layout="responsive"
           src="/assets/amz/mi-band-5.webp">
    <amp-img fallback alt="Xiaomi Mi Band 4"
             width="355" height="355" layout="responsive"
             src="/assets/amz/mi-band-5.jpg">
    </amp-img>
  </amp-img>
  <a class="btn amz_cuadro__btn ga-amz-click-cuadro"
     href="https://amzn.to/2Fo2VRG" target="_blank" rel="nofollow">
    Ver precio en Amazon
  </a>
</div>
